* {
  font-family: courier new;
}
.calculator {
  background-color: white;
  height: 350px;
  width: 241px;
  border: 2px black solid;
  border-radius: 10px;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  align-content: center;
  user-select: none;
}
.calculator input {
  text-align: right;
  position: absolute;
  right: 50px;
  left: 53px;
  scale: 1.3;
  bottom: 290px;
  border: 1px solid black;
  border-radius: 10px;
  outline: none;
  caret-color: transparent;
  height: 30px;
}
.buttons {
  left: 44px;
  position: absolute;
  bottom: 55px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 36px;
  scale: 1.5;
  width: 150px;
}
button {
  margin: 5px;
  font-size: 10px;
  scale: 1.1;
  border: none;
  border-radius: 25px;
  font-weight: 555;
}
#ac,
#clear {
  color: red;
}
#mod,
#div,
#mult,
#min,
#plus {
  color: darkblue;
}
#equals {
  color: green;
}
