:root {
    --trans: 0.3s;
    --border-shadow: 0 10px 40px rgba(158, 163, 172, 0.8);
}
* {
    font-family: courier new;
}

body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url("images/minimalist.jpg");
    background-size: 110%;
    background-repeat: no-repeat;
}

.container {
    border: 1px solid;
    padding: 20px;
    border-radius: 16px;
    backdrop-filter: blur(32px);
    position: relative;
}
.container h1 {
    text-align: center;
}

.container label {
    display: inline-block;
    width: 280px;
}

.container input, select {
    margin: 20px;
    padding: 8px;
    border-radius: 10px;
    border: 1px solid;
    outline: none;
    background-color: white;
}

.apply-class input[type='text'] {
    width: 420px;
}


.phone input[type='text'] {
    width: 420px;
}

.email-address input[type='email'] {
    width: 420px;
}
.container input[type='date'] {
    width: 419px;
}

.container .postal-country select {
    margin-left: 20px;
    width: 195px;
}


.container :where(.city-region, .postal-country) {
    margin-left: 289.5px;
}

.container button {
    position: relative;
    left: 300px;
    width: 150px;
    padding: 6px;
    border: 1px solid;
    border-radius: 10px;
    background-color: white;
}

.container button:active {
    background-color: darkgrey;
}